/*global styles */
*{
  margin:0;
  padding:0;
}
div{
  border-style: solid;
  border-width: 1px;
  border-color:red;
}
ul{
  list-style-type:none;
}
li{
  text-decoration:none;
}

/*body styles*/
#container{
  min-height:500px;
  width:970px;
  background-image:linear-gradient(to top,#3274ac, #265175);
}
  #title_block{
    display:flex;
    justify-content: space-between;
    align-items:center;
  }
  #navbar{
  }
    #navbar ul{
      display:flex;
      justify-content:space-around;
    }
  #main_block{
    display:flex;
    justify-content:space-evenly;
  }
    #left_side_nav_menu{
      display:flex;
    }
    #main_text{
      display:flex;
    }
  #secondary_text{
    display:flex;
    justify-content:space-evenly;
  }
    .secondary_text_box{
      display:flex;
    }
    #footer{
      display:flex;
      justify-content:space-evenly;
    }

