/*global styles */
*{
  margin:0;
  padding:0;
  font-family:Arial, Helvetica, sans-serif;
}
/* div{
  border-style: solid;
  border-width: 1px;
  border-color:red;
}   */
ul{
  list-style-type:none;
}
li{
  text-decoration:none;
}

/*body styles*/
#container{
  min-height: 500px;
  width:970px;
  background-image:linear-gradient(to top,#5190c7, #265175, #265175);
}
  #title_block{
    display:flex;
    justify-content: space-between;
    align-items:center;
  }
  #title_block img {
    width:45%;
    margin-left:20px;
    margin-top:20px;
  }
  #right_search_options{
    margin-right:10px;
    display:flex;
    flex-direction: column;
  }
    #right_search_options p{
      color:white;
      font-size:85%;
      margin-left: 110px;
    }
    #right_search_options span{
      color:black;
    }
    #right_search_options a{
      color:#eed245;
    }
    #search_container{
      background-color: #444444;
      padding: 18px 40px;
      margin-top: 5px;
      border-radius: 10px;
      filter:drop-shadow(3px 3px 2px black);
      display:flex;
    }
      #search_container a{
        background-color:#265175;
        padding:6px;
        color:white;
        text-decoration:none;
        border-radius:5px;
        border-style:groove;
        filter:drop-shadow(3px 3px 2px black);
        font-size:90%;
      }
        #search_box{
          height:40px;
          width:170px;
          text-align: center;
        }
  #navbar{
    margin: 20px 60px 30px 90px;
    display:flex;
    justify-content: space-around;
    background-color: #457ead;
    filter:drop-shadow(3px 3px 2px black);
    border-radius: 5px;
  }
    #navbar ul{
      display:flex;
      justify-content: space-around;
    }
      #navbar ul li{
        margin:10px 15px;
      }
        #navbar ul li a{
          text-decoration: none;
          color: white;
          font-size: 140%;
        }
  #main_block{
    display:flex;
    justify-content:space-evenly;
    margin-bottom:20px;
  }
    #left_side_nav_menu{
      display:flex;
      flex:1;
      justify-content:flex-end;
    }
      /*left side nav menu*/
        #left_side_nav_menu ul li{
          text-align: center;
          margin-top:10px;
        }
          #left_side_nav_menu ul li::before{
            content: "\00BB";
            color:#eed245;
            margin-right:4px;
          }
          #left_side_nav_menu ul li a{
            color: white;
            font-size: 120%;
          }
    #main_text{
      flex: 2;
      display:flex;
      flex-direction: column;
      text-align:center;
      padding: 0px 30px;
    }
      #main_text p{
        color:white;
        padding-right:40px;
      }
      #main_text ul{
        margin-bottom:8px;
        padding-right:40px;
      }
      #main_text ul li{
        margin: 8px;
        color:#eed245;
        font-size: 130%;
        font-style:italic;
      }

  #secondary_block{
    display:flex;
    justify-content:space-evenly;
    background-color: white;
    padding: 0px 30px;
  }
    .secondary_text_box{
      display:flex;
      flex:1;
      flex-direction:column;
      text-align:center;
      margin: 0px 15px;
    }
    .horizontal_line_break{
      margin-top: 10px;
      margin-bottom:5px;
      padding:3px;
      background-color:#5ea9e7;
      border-radius: 3px;
    }
    .secondary_text_box h1{
      font-size: 115%;
      margin-bottom:7px;
      padding-right: 50px;
    }
    .secondary_text_box p{
      font-size:95%;
      padding-right: 50px;
    }
      .secondary_text_box p a{
        font-size:95%;
        text-decoration: none;
      }
    .secondary_text_box ul{
      list-style-type:square;
      padding: 5px 100px 10px 50px;
    }
      .secondary_text_box ul li{
        margin-bottom:3px;
      }
        .secondary_text_box ul li a{
        text-decoration: none;
        font-size:95%;
        }
    #footer{
      display:flex;
      flex-direction: column;
      text-align: center;
      padding-top:50px
    }
      #footer ul{
        display:flex;
        justify-content:center;
      }
        #footer ul li{
          margin: 15px;
        }
          #footer ul li a{
            text-decoration:none;
            color:#87bae5;
            font-size: 130%;
          }
      #footer p{
        color:#87bae5;
        font-size:66%;
        margin-bottom:5px;
      }
  